
.service-cart img{
    width: 200px;
    border: 2px solid greenyellow;
     border-radius: 15px;
     width: 250px;
     height: 200px;
 }
 .service-cart{
     
     box-shadow: 10px 10px 10px 5px rgb(207, 200, 200);
     margin: 20px;
     padding: 10px;
     border-radius: 20px;
 }
 .service-cart:hover{
     width: 450px;
 }