.header-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #198754;
    padding: 20px;
}
.header-container img{
    width: 200px;
    background-color: rgb(204, 236, 204);
    margin-right: 200px;
}

.header-container a{
    text-decoration: none;
    color: rgb(232, 241, 205);
    font-size: 20px;
    margin: 15px;
}
.header-container a:hover{
    background-color: rgb(107, 71, 71);
    padding: 2px;
    border-radius: 5px;
    color: lavenderblush;
}